.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    
    /* 固定导航栏 */
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.header__logo {
    height: 25px;
    /* https://developer.mozilla.org/zh-CN/docs/Web/CSS/object-fit */
    object-fit: contain;
    margin-left: 20px;
}

.header__input {
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid black;
}

.header__input > input {
    flex: 1;
    border: none;
}

.header_inputButton {
    /* https://stackoverflow.com/questions/3706819/what-are-the-implications-of-using-important-in-css */
    width: 50px !important;
    background-color: #fafafa;
    border-left: 1px solid lightgray;
    color: gray;
}

.header__icons {
    display: flex;
    align-items: center;
}

.header_icon {
    margin-right: 10px;
} 